/config
/pillar
/scripts
/AlternativeConfigs
/asm
/astralsorcery
/backups
banned-ips.json
banned-players.json
/caches
/crash-reports
crafttweaker.log
eula.txt
forge-1.12.2-14.23.5.2860-installer.bat
forge-1.12.2-14.23.5.2860-installer.jar
forge-1.12.2-14.23.5.2860-installer.jar.log
forge-1.12.2-14.23.5.2860.jar
/journeymap
/libraries
/llibrary
/local
/logs
/mods
OpenComputersMod-1.8.3-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.3-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.3-54-libjnlua54-windows-x86_64.dll
minecraft_server.1.12.2.jar
README.txt
server.png
ServerStart.sh
starter.bat
usercache.json
usernamecache.json
/vintagefix
whitelist.json
/woot
world-20250324-172245.zip
/tmp
