# Configuration file

~CONFIG_VERSION: v0.56.5

counters {
    I:lastGridStorage=1417623
    I:lastPlayer=4
}


gridstorage {
    S:1045670=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:1080015=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:1088668=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1089880=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1091668=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1101735=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1101736=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1101737=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1124012=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:1158567=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1158922=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:118034=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:118089=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1202489=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:1202632=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1202697=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1202831=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1233624=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1237106=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1237555=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1266873=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1276240=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1287283=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1287284=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1288642=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1297984=
    S:1297985=
    S:1299756=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1301466=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1301489=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1317420=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:1317591=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1317710=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1317810=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:132783=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:132795=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:134546=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:135566=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:135847=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:139=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1416877=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1417545=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKY8U7/zwMGBgYAgajEPxUAAAA=
    S:1417576=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:142=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLo3HqAAQQASnGuEhUAAAA=
    S:1683=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:1752=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:184024=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:184066=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:211238=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:211283=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:21900=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:21912=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:21932=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2243=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2316=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2523=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2594=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2608=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2624=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2626=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2627=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2720=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2981=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:2993=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2995=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2996=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3025=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3027=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:304627=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:304739=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:310245=
    S:310246=
    S:3410=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3412=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:349113=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:362636=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:363100=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:366982=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:36706=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:367081=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:367116=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:367212=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:36734=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:36840=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:36856=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:36862=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:371209=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:371236=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:371239=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:371240=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:371242=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:371395=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:371991=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:373830=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:373831=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:375159=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:375165=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:38=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:38817=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:39=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:390132=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:392755=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:413870=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:4278=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4280=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:453=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLo3J0REcnAwAAAtl24CRUAAAA=
    S:46=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:483695=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:49=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:50=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:51=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:511=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:587201=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:6632=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:749590=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:749799=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:757738=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:761073=
    S:761074=
    S:761934=
    S:761935=
    S:871614=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:877=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:943218=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:949677=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:951282=
    S:951283=
    S:964623=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:985262=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
}


orderedvalues {
    I:presses=209
}


players {
    I:41c82c87-7afb-4024-ba57-13d2c99cae77=3
    I:77c93129-8abd-4418-a2db-7ded121c4a21=0
    I:de046165-d8f1-4bed-9f68-933f051cbd96=2
    I:e67a1beb-0c52-4432-b948-331e4014d0fd=1
}


